
<div class="classtudo">
    <div class="title"><h2>Atendimento on-line</h2></div>
    <div class="chatbg">
        <div class="chatbox" id="grupo-mensagens">
            <div class="topo"></div>
            <div class="boxleft">
                Atendente diz:
                <div class="msg">
                    Blabla blabla blabla
                </div>
            </div>
            <div class="boxleft">
                Atendente diz:
                <div class="msg">
                    Blabla blabla blabla
                </div>
            </div>

            <div class="boxright">
                Você diz:
                <div class="msg">
                    Blabla blabla blabla
                </div>
            </div>
            <div class="boxright">
                Você diz:
                <div class="msg">
                    Blabla blabla blabla
                </div>
            </div>
        </div>
        <div class="textsend">
            <input class="textfield" ngModel="message" placeholder="Digite sua mensagem...">
            <button class="button" (click)="addChat()">ENVIAR</button>
        </div>
    </div>
</div>